<app-nav-bar></app-nav-bar>
<div class="profile-container">
  <!-- Update Profile -->
  <section>
    <mat-card  >
      <mat-card-header class="update-header">
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content >
        <div class="container">
        <form>
          <label>Username:  </label>
          <input placeholder={{userData.Username}} readonly><br />
          <label>Password:</label>
          <input placeholder="***********" readonly><br />
          <label>Email:</label>
          <input placeholder={{userData.Email}} readonly ><br />
          <label>Birthday:</label>
          <input placeholder={{userData.Birthday}} readonly ><br />
        </form>
        </div>
      </mat-card-content>
      <mat-card-actions class="update-form--action">
        <button
          aria-label="button that submits form to update user account"
          class="btn-update-account"
          mat-raised-button
          (click)="editUserData()"
          color="primary"
        >
          Update
        </button>
        <button
          aria-label="button that removes user account"
          class="btn-remove-account"
          mat-stroked-button
          (click)="deleteUserData()"
          color="primary"
        >
          Remove Account
        </button>
      </mat-card-actions>
    </mat-card>
  </section>

  <!-- Favorites -->
  <section>
    <h2>Your Favorite Movies:</h2>
    <div class="favorite-movies-container">
      <mat-card class="favoriteMovie-card-container" *ngFor='let favorite of favourite'>
        <mat-card-header class="favoriteMovie-card-header">
          <mat-card-title class="favoriteMovie-card-title">{{favorite.Title}}</mat-card-title>
           </mat-card-header>
        <img src={{favorite.ImagePath}} alt={{favorite.Title}} />
        <mat-card-actions class="favoriteMovie-card-actions-container">
          <button
            mat-button
            color='basic'
            (click)='removeFavorites(favorite._id)'            
          >
            Remove Favorite
          </button>
        </mat-card-actions>
      </mat-card>
    </div>    
  </section>  
</div>